---
layout: default
---
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15}}">
    <div class="container">
        <div class="collection-title">
            <h1 class="collection-header">{{ page.title }}</h1>
            {% if page.subtitle %}
                <div class="collection-info">
                    <span class="meta-info">
                        {{ page.subtitle}}
                    </span>
                </div>
            {% endif %}
             {% if site.leancloud.enable %}
          <span id="{{ page.url }}" class="leancloud_visitors" data-flag-title="{{ page.title }}">
           <span class="post-meta-divider tags" ></span>
           <span class="post-meta-item-text tags">  阅读量:  </span>
           <span class="leancloud-visitors-count tags"></span> 次
   
          </span>
               {% endif %}
        </div>
    </div>
</section>
<!-- / .banner -->
 <section class="container content">
        <div class="columns">
            <div class="column two-thirds" >
                <article class="article-content markdown-body">
                    {{ content }}
                </article>
                <div class="share">
                    {% include sns-share.html %}
                </div>
                <div class="comment">
                    {% include comments.html %}
                </div>
            </div>
            <div class="column one-third">
                {% include sidebar-search.html %}
                {% include sidebar-qrcode.html %}
                {% include sidebar-popular-repo.html %}
                 {% include leancloud-analytics.html %}
            </div>
        </div>
    </section>
    <!-- /section.content -->
